<% if @stock %>
  <div class="card card-header w-25">
    <strong>Symbol: <%= @stock.ticker %></strong>
    <strong>Name: <%= @stock.name %></strong>
    <strong>Last Price: <%= @stock.last_price %></strong>
    <% if current_user.can_track(@stock.ticker) %>

      <%= link_to 'Add to portfo', user_stocks_path(user: current_user, ticker: @stock.ticker),
                                                class: "btn btn-success btn-sm", method: :post %>
    <% else %>
      <span class="badge badge-primary">
        tracking
        <% if !current_user.track_limit %>
          10 stocks hit
        <% end %>
      </span>
    <% end %>
  </div>
<%end%>
<div class="w-25" id="message">
    <%= render 'layouts/messages' %>
</div>
